<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Correção-exercicio.css">
    <title>Correção do Exercicio</title>
</head>
<body>
    <header class="header">
        <img src="./img-ex/iconrock-red.svg" alt="Logo-rock" class="Logo-rock">
        <img src="./img-ex/logo-onebitcode.svg" alt="Logo-OneBitCode" class="Logo-OneBitCode">
        <div class="buttons">
            <button class="buttonHeader">Inicio</button>
            <button class="buttonHeader">Suporte</button>
            <button class="buttonHeader">FaQ</button>
        </div>
    </header>
</body>
</html>