*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: darkgrey;
    min-height: 100vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.item{
    width: 100vh;
    height: 200px;
    border: 2px solid;
    background-color: white;
    display: flex;
    align-items: center;/*centraliza na vertical*/
    justify-content: center;/*centraliza na horizontal*/
    /*isso faz com que cada item se torne um container com seus items centralizados, ajuda na centralização e caso queira remanejar algum  conteúdo*/
    justify-content: center;
    align-items: center;
}

.item1{
    order: 2;
    align-self: flex-start;
}

.item2{
    order: 1;
}

.item3{
    order: 3;
}
@media(max-width: 390px){
    item2{
        flex: 1 0 620px; /*exemplo de responsividade para o iPhone 12*/
    }
}
/* .item4{

} */